<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.7">
<title>Email Template</title>
</head>

<body style="margin:0">
<table style="width:100%; background: #f2f2f2; border-collapse: collapse;border-spacing: 0;">
  <tr>
    <td>
      <table style="width:100%; border-collapse: collapse;border-spacing: 0; max-width: 580px; margin: 0 auto; font-family: arial; font-size: 14px;">
        <tr>
          <td style="text-align:center; padding: 15px 12px; background: #000">
            <b style="color:#eccd3e; font-size:13px; letter-spacing:1px; text-align: right; display: inline-block;"><img alt="" style="max-width: 250px; vertical-align: top;" src="http://sandbox2.zivanta-analytics.com/ckv2-email-template/images/email-template-contact-info/logo.webp">
            <br>Never Pay Retail Price
            </b>
          </td>
        </tr>
      </table>

      <table style="width:100%; border-collapse: collapse;border-spacing: 0; max-width: 580px; margin: 0 auto; font-family: arial; font-size: 15px; background:#fff; line-height: 1.6;">
        <tr>
          <td style="padding: 20px 15px 10px; text-align: center;">
            <a href="#">
              <img style="max-width: 100%; width: 70%;" src="http://sandbox2.zivanta-analytics.com/ckv2-email-template/images/email-template-contact-info/contact-ico.webp" alt="">
            </a>
          </td>
        </tr>
        <tr>
          <td style="padding: 20px 15px 0; text-align: center;">
            <h2 style="text-transform: capitalize; font-weight: bolder; font-size: 28px; margin:0 0 5px; color: #000; font-weight: 700; letter-spacing: 2px"> 
              Contact Information
            </h2>
            <p style="margin: 0 0 0; width: 80px; margin: 0 auto; height: 3px; background: #f6b940; border-radius: 3px;"></p>
            <p style="margin: 0">&nbsp;</p>
          </td>
        </tr>
        <tr>
          <td style="padding:0 30px; text-align: left;">
            <table style="vertical-align: top; padding: 20px; background-color: #fff; border-radius: 15px; box-shadow: 0 0 15px rgba(0,0,0,0.3);">
              <tr>
                <th style="vertical-align: top;">Name: &nbsp; &nbsp;</th>
                <td style="vertical-align: top;"><%=name%></td>
              </tr>
              <tr>
                <th style="vertical-align: top;">Email: &nbsp; &nbsp;</th>
                <td style="vertical-align: top;"><%=Email%></td>
              </tr>
              <tr>
                <th style="vertical-align: top;">Subject: &nbsp; &nbsp;</th>
                <td style="vertical-align: top;"><%=Subject%></td>
              </tr>
              <tr>
                <th style="vertical-align: top;">Message: &nbsp; &nbsp;</th>
                <td style="vertical-align: top;"><%=Message%></td>
              </tr>
              <tr>
                <th style="vertical-align: top;">File: &nbsp; &nbsp;</th>
                <td style="vertical-align: top;"><%=url%></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding: 20px 15px 10px; text-align: center;">
            <a href="#" style="margin-top:5px; min-width:100px;  display: inline-block; text-transform: capitalize; font-weight: 700; padding: 10px 40px; color: #000; border:2px solid #000; text-decoration: none; background:#f6b940; font-size: 18px; border-radius: 25px; ">Reply</a>
          </td>
        </tr>

        
        

        
      </table> 

      <table style="width:100%; border-collapse: collapse;border-spacing: 0; background: #000; color: #fff; font-family: arial; font-size: 13px;max-width: 580px; margin: 0 auto">
           
        <tr>
          <td style="text-align:center; padding: 10px 30px; border-bottom: 1px solid #fff;">
             Email us at <a href="mailto:admin@giveawayhubs.com" style="color:#fff; font-weight: 700">marketing@powershopr.com</a> <b style="display: block; font-weight: 900">or</b> Write to us at Suite B 220 – PMB 113, N. Tryon Street, Charlotte, NC 28202
          </td>
        </tr>
        <tr>
          <td style="text-align:center; padding: 10px 30px">
            ©2022 https://giveawayhubs.com
          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>

</body>
</html>
